@model Alliance_for_Life.Models.NonResidentialMIR

@{
    ViewBag.Title = "Delete Non-Residential Monthly Service Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl >
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcontractor.OrgName)
        </dd>

        <dt class="col-md-2">
            Date form was submitted
        </dt>

        <dd>
            @Model.SubmittedDate.ToShortDateString()
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Months)
        </dt>

        <dd>
            @Model.Months
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-md-2">
            Current A2A Enrollment
        </dt>

        <dd>
            @Model.TotA2AEnrollment.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Monthly A2A Clients Served
        </dt>

        <dd>
            @Model.MA2Apercent.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total of Overall Clients Served
        </dt>

        <dd>
            @Model.TotOverallServed.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            # of Clients engaged in  Jobs or Educational Services
        </dt>

        <dd>
            @Model.ClientsJobEduServ.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total # of Fathers Participating in A2A
        </dt>

        <dd>
            @Model.ParticipatingFathers.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total # of Parenting Education Classes held
        </dt>

        <dd>
            @Model.TotEduClasses.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total # of Clients Attending Prenatal & Parenting Classes
        </dt>

        <dd>
            @Model.TotClientsinEduClasses.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Case Management Hours Provided
        </dt>

        <dd>
            @Model.TotCaseHrs.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total # of Participants in Case Management
        </dt>

        <dd>
            @Model.TotClientsCaseHrs.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total # of Other Classes held (i.e. money management, healthy lifestyles etc.)
        </dt>

        <dd>
            @Model.TotOtherClasses.ToString("#,##0")
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        <br />
        <br />
    }
</div>
