@model Alliance_for_Life.Models.NonResidentialMIR

@{
    ViewBag.Title = "Delete Non-Residential Monthly Service Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcontractor.OrgName)
        </dd>

        <dt>
            Date form was submitted
        </dt>

        <dd>
            @Model.SubmittedDate.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Model.Month
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            A2A Enrollment
        </dt>

        <dd>
            @Model.TotA2AEnrollment.ToString("#,##0")
        </dd>

        <dt>
            Monthly A2A Clients Served
        </dt>

        <dd>
            @Model.MA2Apercent.ToString("#,##0")
        </dd>

        <dt>
            Total Clients Served
        </dt>

        <dd>
            @Model.TotOverallServed.ToString("#,##0")
        </dd>

        <dt>
            Job or Educational Services
        </dt>

        <dd>
            @Model.ClientsJobEduServ.ToString("#,##0")
        </dd>

        <dt>
            Participating Fathers
        </dt>

        <dd>
            @Model.ParticipatingFathers.ToString("#,##0")
        </dd>

        <dt>
            Prenatal & Parenting Classes Offered
        </dt>

        <dd>
            @Model.TotEduClasses.ToString("#,##0")
        </dd>

        <dt>
            Prenatal & Parenting Classes Attended
        </dt>

        <dd>
            @Model.TotClientsinEduClasses.ToString("#,##0")
        </dd>

        <dt>
            Case Management Hours
        </dt>

        <dd>
            @Model.TotCaseHrs.ToString("#,##0")
        </dd>

        <dt>
            Participants in Case Management
        </dt>

        <dd>
            @Model.TotClientsCaseHrs.ToString("#,##0")
        </dd>

        <dt>
            Other Classes Offered
        </dt>

        <dd>
            @Model.TotOtherClasses.ToString("#,##0")
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        <br />
        <br />
    }
</div>
