@model Alliance_for_Life.Models.NonResidentialMIR

@{
    ViewBag.Title = "Details for Non-Residential Monthly Service Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl >
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcontractor.OrgName)
        </dd>

        <dt class="col-md-2">
            Date form was submitted
        </dt>

        <dd>
            @Model.SubmittedDate.ToShortDateString()
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Months)
        </dt>

        <dd>
            @Model.Months
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-md-2">
            A2A Enrollment
        </dt>

        <dd>
            @Model.TotA2AEnrollment.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Monthly A2A Clients Served
        </dt>

        <dd>
            @Model.MA2Apercent.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Total Clients Served
        </dt>

        <dd>
            @Model.TotOverallServed.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Job or Educational Services
        </dt>

        <dd>
            @Model.ClientsJobEduServ.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Participating Fathers
        </dt>

        <dd>
            @Model.ParticipatingFathers.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Prenatal & Parenting Classes Offered
        </dt>

        <dd>
            @Model.TotEduClasses.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Prenatal & Parenting Classes Attended
        </dt>

        <dd>
            @Model.TotClientsinEduClasses.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Case Management Hours
        </dt>

        <dd>
            @Model.TotCaseHrs.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Participants in Case Management
        </dt>

        <dd>
            @Model.TotClientsCaseHrs.ToString("#,##0")
        </dd>

        <dt class="col-md-2">
            Other Classes Offered
        </dt>

        <dd>
            @Model.TotOtherClasses.ToString("#,##0")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })|
    @Html.ActionLink("Back to List", "Index")
</p>
<br />
<br />