@model IEnumerable<Alliance_for_Life.Models.NonResidentialMIR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotA2AEnrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MA2Apercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientsJobEduServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipatingFathers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotClientsinEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotClientsCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotOtherClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotOverallServed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Subcontractor.OrgName
        </td>
        <td>
            @item.TotA2AEnrollment.ToString("#,##0")
          
        <td>
            @item.SubmittedDate.ToShortDateString()
        </td>
        <td>
            @item.MA2Apercent.ToString("#,##0")
        </td>
        <td>
            @item.ClientsJobEduServ.ToString("#,##0")
        </td>
        <td>
            @item.ParticipatingFathers.ToString("#,##0")
        </td>
        <td>
            @item.TotEduClasses.ToString("#,##0")
        </td>
        <td>
            @item.TotClientsinEduClasses.ToString("#,##0")
        </td>
        <td>
            @item.TotCaseHrs.ToString("#,##0")
        </td>
        <td>
            @item.TotClientsCaseHrs.ToString("#,##0")
        </td>
        <td>
            @item.TotOtherClasses.ToString("#,##0")
        </td>
        <td>
            @item.Year
        </td>
        <td>
            @item.TotOverallServed.ToString("#,##0")
        </td>
        <td>
            @item.Month
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
