@model IEnumerable<Alliance_for_Life.Models.NonResidentialMIR>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcontractor.AdministratorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotA2AEnrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MA2Apercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientsJobEduServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParticipatingFathers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotClientsinEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotClientsCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotOtherClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotOverallServed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subcontractor.AdministratorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotA2AEnrollment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MA2Apercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientsJobEduServ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParticipatingFathers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotEduClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotClientsinEduClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotCaseHrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotClientsCaseHrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotOtherClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotOverallServed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
