<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Alliance for Life</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <br/>
    <img src="~/Content/DataTables/images/afllogo.png" />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AFL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">


                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Forms", "Create", "AFLForm", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Reports", "Reports", "AFLForm", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Invoices", "Index", "Invoices", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Contractor Forms", "Create", "ContractorForm", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Reports", "Reports", "ClientList", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Register User Roles", "Index", "Role", new { area = "" }, new { @class = "navbar-brand" })

                    @Html.Partial("_LoginPartial")
                }

                else if (ViewContext.HttpContext.User.IsInRole("Manager"))
                {
                    @Html.ActionLink("Contractor Forms", "Create", "ContractorForm", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Reports", "Reports", "ClientList", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Invoices", "Index", "Invoices", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.Partial("_LoginPartial")
                }

                else if (ViewContext.HttpContext.User.IsInRole("user"))
                {
                    @Html.ActionLink("Reports", "Reports", "ClientList", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.Partial("_LoginPartial")
                }
                else if (ViewContext.HttpContext.User.IsInRole(null))
                {
                    @Html.ActionLink("AFL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }

                else
                { @Html.Partial("_LoginPartial")}
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <br />
    <br />
    <footer>
        <div class="footer-alignment">
            &copy; @DateTime.Now.Year <a href="https://www.CornerstoneMarketingStrategies.com" style="color:#000">Cornerstone Marketing Strategies</a>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/MyScripts.js"></script>
</body>
</html>



