@model PagedList.IPagedList<Alliance_for_Life.Models.Userinformation>
@using PagedList.Mvc;


@{
    ViewBag.Title = "IndexforRegisteredUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registered Users</h2>

<p>
    @Html.ActionLink("Add new user", "Register", "Account")
</p>

<form>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="container-fluid" style="padding-left: 15px;">
            <div class="row">
                <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                    Search By Organization: @Html.DropDownList("searchString", (IEnumerable<SelectListItem>)ViewBag.Subcontractor, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
                <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                    Results per Page: @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
            </div>
        </div>
        <br />
    }
</form>

<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
            @Html.DisplayName("Organization")
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Account", new { id = item.Id }, Request.Url.Scheme)">
                    <i style="font-size:16px; color:#3498DB" class="fa">&#xf044;</i>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Delete", "Account", new { id = item.Id }, Request.Url.Scheme)">
                    <i style="font-size:16px; color:red" class=" fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("IndexforRegisteredUsers",
    new { page, pgSize = ViewBag.psize, @class = "pagination", onchange = "this.form.submit()" }))
