@model Alliance_for_Life.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register User Role";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegisterRole", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Select Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("RoleName")
        </div>
    </div>

    <!--Select the role type for the user-->
    <div class="form-group">
        @Html.Label("Select User", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>

    <!--Ends Here-->
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>

    <div>
        @Html.ActionLink("Cancel", "Index", "Home")
    </div>
}
