
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Non-Residential MIR Reports</h2>

<table class="table">
    <tr>
        <th>
            Report Id
        </th>

        <th>
            Organization
        </th>

        <th>
            Month
        </th>

        <th>
            Client Bed Nights
        </th>

        <th>
            A2A Enrollment
        </th>

        <th>
            Total A2A Bed Nights
        </th>

        <th>
            Monthly A2A Clients Served
        </th>

        <th>
            Job or Educational Services
        </th>

        <th>
            Participating Fathers
        </th>

        <th>
            Prenatal & Parenting Classes Offered
        </th>

        <th>
            Prenatal & Parenting Classes Attended
        </th>

        <th>
            Case Management Hours
        </th>

        <th>
            Participants in Case Management
        </th>
        <th>
            Other Classes Offered
        </th>
        <th></th>
    </tr>
    @foreach (var report in Model)
    {
        <tr>
            <td>
                @report.Id
            </td>

            <td>
                @report.OrgName
            </td>

            <td>
                @report.Month
            </td>

            <td>
                @report.TotBedNights
            </td>

            <td>
                @report.TotA2AEnrollment
            </td>

            <td>
                @report.TotA2ABedNights
            </td>

            <td>
                @report.MA2Apercent
            </td>

            <td>
                @report.ClientsJobEduServ
            </td>

            <td>
                @report.ParticipatingFathers
            </td>

            <td>
                @report.TotEduClasses
            </td>

            <td>
                @report.TotClientsinEduClasses
            </td>

            <td>
                @report.TotCaseHrs
            </td>

            <td>
                @report.TotClientsCaseHrs
            </td>

            <td>
                @report.TotOtherClasses
            </td>
        </tr>
    }
    <tr></tr>
</table>

<br />
@using (Html.BeginForm("Export", "NonResidentialMIR", FormMethod.Post))
{
    <input type="submit" value="Export to Excel" class="btn btn-primary" />
}

