@model Alliance_for_Life.Models.A2AAllocatedBudget

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>A2AAllocatedBudget</h4>
    <hr />
    <dl >
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.BeginingBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginingBalance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.A2AAllocatedBudgetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
