@model Alliance_for_Life.Models.AdminCosts

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Administration Cost Record</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Organization
        </dt>

        <dd>
            @Model.Subcontractor.OrgName
        </dd>
        <dt>
            Month
        </dt>

        <dd>
            @Model.Month
        </dd>

        <dt>
            Year
        </dt>

        <dd>
            @Model.Year
        </dd>

        <dt>
            Salaries and Wages
        </dt>

        <dd>
            @Model.ASalandWages.ToString("C")
        </dd>

        <dt>
            Employee Benefits
        </dt>

        <dd>
            @Model.AEmpBenefits.ToString("C")
        </dd>

        <dt>
            Employee Travel
        </dt>

        <dd>
            @Model.AEmpTravel.ToString("C")
        </dd>

        <dt>
            Employee Training
        </dt>

        <dd>
            @Model.AEmpTraining.ToString("C")
        </dd>

        <dt>
            Office Rent
        </dt>

        <dd>
            @Model.AOfficeRent.ToString("C")
        </dd>

        <dt>
            Office Utilities
        </dt>

        <dd>
            @Model.AOfficeUtilities.ToString("C")
        </dd>

        <dt>
            Facility Insurance
        </dt>

        <dd>
            @Model.AFacilityIns.ToString("C")
        </dd>

        <dt>
            Office Supplies
        </dt>

        <dd>
            @Model.AOfficeSupplies.ToString("C")
        </dd>

        <dt>
            Equipment
        </dt>

        <dd>
            @Model.AEquipment.ToString("C")
        </dd>

        <dt>
            Office Communications
        </dt>

        <dd>
            @Model.AOfficeCommunications.ToString("C")
        </dd>

        <dt>
            Office Maintenance
        </dt>

        <dd>
            @Model.AOfficeMaint.ToString("C")
        </dd>

        <dt>
            Consulting Fees
        </dt>

        <dd>
            @Model.AConsulting.ToString("C")
        </dd>

        <dt>
            Janitor Services
        </dt>

        <dd>
            @Model.AJanitorServices.ToString("C")
        </dd>

        <dt>
            Depreciation
        </dt>

        <dd>
            @Model.ADepreciation.ToString("C")
        </dd>

        <dt>
            Technical Support
        </dt>

        <dd>
            @Model.ATechSupport.ToString("C")
        </dd>

        <dt>
            Security Services
        </dt>

        <dd>
            @Model.ASecurityServices.ToString("C")
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.AOther.ToString("C")
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.AOther2.ToString("C")
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.AOther3.ToString("C")
        </dd>

        <dt>
            Total Costs
        </dt>

        <dd>
            @Model.ATotCosts.ToString("C")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <hr />
        <h3>Are you sure you want to delete this?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
