@model IEnumerable<Alliance_for_Life.Models.AdminCosts>

@{
    ViewBag.Title = "Administrative Fee's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrative Fee's</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Organization
        </th>
        <th>
            Month
        </th>
        <th>
            Region
        </th>
        <th>
            Salaries and Wages
        </th>
        <th>
            Employee Benefits
        </th>
        <th>
            Employee Travel
        </th>
        <th>
            Employee Training
        </th>
        <th>
            Office Rent
        </th>
        <th>
            Office Utilities
        </th>
        <th>
            Facility Insurance
        </th>
        <th>
            Office Supplies
        </th>
        <th>
            Equipment
        </th>
        <th>
            Office Communications
        </th>
        <th>
            Office Maintenance
        </th>
        <th>
            Consulting Fee's
        </th>
        <th>
            Janitor Services
        </th>
        <th>
            Depreciation
        </th>
        <th>
            Tech Support
        </th>
        <th>
            Security
        </th>
        <th>
            Other
        </th>
        <th>
            Other
        </th>
        <th>
            Other
        </th>
        <th>
            Total Cost
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Subcontractor.OrgName
        </td>
        <td>
            @item.Month.Months
        </td>
        <td>
            @item.Region.Regions
        </td>
        <td>
            @item.ASalandWages.ToString("C")
        </td>
        <td>
            @item.AEmpBenefits.ToString("C")
        </td>
        <td>
            @item.AEmpTravel.ToString("C")
        </td>
        <td>
            @item.AEmpTraining.ToString("C")
        </td>
        <td>
            @item.AOfficeRent.ToString("C")
        </td>
        <td>
            @item.AOfficeUtilities.ToString("C")
        </td>
        <td>
            @item.AFacilityIns.ToString("C")
        </td>
        <td>
            @item.AOfficeSupplies.ToString("C")
        </td>
        <td>
            @item.AEquipment.ToString("C")
        </td>
        <td>
            @item.AOfficeCommunications.ToString("C")
        </td>
        <td>
            @item.AOfficeMaint.ToString("C")
        </td>
        <td>
            @item.AConsulting.ToString("C")
        </td>
        <td>
            @item.AJanitorServices.ToString("C")
        </td>
        <td>
            @item.ADepreciation.ToString("C")
        </td>
        <td>
            @item.ATechSupport.ToString("C")
        </td>
        <td>
            @item.ASecurityServices.ToString("C")
        </td>
        <td>
            @item.AOther.ToString("C")
        </td>
        <td>
            @item.AOther2.ToString("C")
        </td>
        <td>
            @item.AOther3.ToString("C")
        </td>
        <td>
            @item.ATotCosts.ToString("C")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdminCostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdminCostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdminCostId })
        </td>
    </tr>
}

</table>
