@model PagedList.IPagedList<Alliance_for_Life.Models.AdminCosts>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Administrative Cost Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    @if (!User.IsInRole("Admin"))
    {
        <h2>@ViewBag.Title's for @ViewBag.Subcontractor</h2>
        <form>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Month: @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Year: @Html.DropDownList("Year", null, "Select Year", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Results per Page: @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                    </div>
                </div>
                <br />
            }
        </form>
    }
    else
    {
        <h2>@ViewBag.Title</h2>
        <form>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Organization: @Html.DropDownList("searchString", (IEnumerable<SelectListItem>)ViewBag.Subcontractor, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Month: @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Year: @Html.DropDownList("Year", null, "Select Year", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Results per Page: @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                    </div>
                </div>
                <br />
            }
        </form>
    }

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="font-size:16px" cellspacing="0" width="100">
        <tr>
            <th>
                Edit
            </th>
            <th>

            </th>
            <th>
                @Html.ActionLink("Organization", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Month
            </th>
            <th>
                Year
            </th>
            @if (!User.IsInRole("User"))
            {
                <th>
                    Region&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
            }
            <th>
                Salaries and Wages
            </th>
            <th>
                Employee Benefits
            </th>
            <th>
                Employee Travel
            </th>
            <th>
                Employee Training
            </th>
            <th>
                Office Rent
            </th>
            <th>
                Office Utilities
            </th>
            <th>
                Facility Insurance
            </th>
            <th>
                Office Supplies
            </th>
            <th>
                Office equipment/computers
            </th>
            <th>
                Office Communications
            </th>
            <th>
                Office Maintenance
            </th>
            <th>
                Consulting Fee's
            </th>
            <th>
                Janitor Services
            </th>
            <th>
                Depreciation
            </th>
            <th>
                Tech Support
            </th>
            <th>
                Security
            </th>
            <th>
                Other
            </th>
            <th>
                Other
            </th>
            <th>
                Other
            </th>
            <th>
                Total Cost
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AdminCostId })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AdminCostId })
                </td>
                <td>
                    @item.Subcontractor.OrgName
                </td>
                <td>
                    @item.Month
                </td>
                <td>
                    @item.Year
                </td>
                @if (!User.IsInRole("User"))
                {
                    <td>
                        @item.Region.GetDisplayName()
                    </td>
                }
                <td>
                    @item.ASalandWages.ToString("C")
                </td>
                <td>
                    @item.AEmpBenefits.ToString("C")
                </td>
                <td>
                    @item.AEmpTravel.ToString("C")
                </td>
                <td>
                    @item.AEmpTraining.ToString("C")
                </td>
                <td>
                    @item.AOfficeRent.ToString("C")
                </td>
                <td>
                    @item.AOfficeUtilities.ToString("C")
                </td>
                <td>
                    @item.AFacilityIns.ToString("C")
                </td>
                <td>
                    @item.AOfficeSupplies.ToString("C")
                </td>
                <td>
                    @item.AEquipment.ToString("C")
                </td>
                <td>
                    @item.AOfficeCommunications.ToString("C")
                </td>
                <td>
                    @item.AOfficeMaint.ToString("C")
                </td>
                <td>
                    @item.AConsulting.ToString("C")
                </td>
                <td>
                    @item.AJanitorServices.ToString("C")
                </td>
                <td>
                    @item.ADepreciation.ToString("C")
                </td>
                <td>
                    @item.ATechSupport.ToString("C")
                </td>
                <td>
                    @item.ASecurityServices.ToString("C")
                </td>
                <td>
                    @item.AOtherInput: @item.AOther.ToString("C")
                </td>
                <td>
                    @item.AOtherInput2: @item.AOther2.ToString("C")
                </td>
                <td>
                    @item.AOtherInput3: @item.AOther3.ToString("C")
                </td>
                <td>
                    @item.ATotCosts.ToString("C")
                </td>
            </tr>
        }
    </table>

    @*This is how you do a Sum in Linq to apply a total based on a model property*@
    <h3>Total Administrative Cost</h3>
    <p>
        <ul>@ViewBag.TotalSum</ul>
    </p>
    <br /><br />
    @using (Html.BeginForm("Export", "AdministrationCost", FormMethod.Post, new { Year = ViewBag.Yr, Month = ViewBag.Mnth }))
    {
        
        <input type="submit" value="Export to Excel" class="btn btn-group-sm btn-primary" />
    }

    <div class="container-fluid">
        <form>
            @using (Html.BeginForm())
            {
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Index",
             new { searchString = ViewBag.Sub, Year = ViewBag.Yr, Month = ViewBag.Mnth, page, pgSize = ViewBag.psize }))
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MyScripts.js"></script>
}
