@*Change from IEnumerable to List to allow Linq extention methods.*@
@model List<Alliance_for_Life.Models.AdminCosts>

@{
    ViewBag.Title = "Administrative Fee's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrative Cost Reports</h2>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Organization
        </th>
        <th>
            Month
        </th>
        <th>
            Region&nbsp;&nbsp;&nbsp;&nbsp;
        </th>
        <th>
            Year
        </th>
        <th>
            Salaries and Wages
        </th>
        <th>
            Employee Benefits
        </th>
        <th>
            Employee Travel
        </th>
        <th>
            Employee Training
        </th>
        <th>
            Office Rent
        </th>
        <th>
            Office Utilities
        </th>
        <th>
            Facility Insurance
        </th>
        <th>
            Office Supplies
        </th>
        <th>
            Equipment
        </th>
        <th>
            Office Communications
        </th>
        <th>
            Office Maintenance
        </th>
        <th>
            Consulting Fee's
        </th>
        <th>
            Janitor Services
        </th>
        <th>
            Depreciation
        </th>
        <th>
            Tech Support
        </th>
        <th>
            Security
        </th>
        <th>
            Other
        </th>
        <th>
            Other
        </th>
        <th>
            Other
        </th>
        <th>
            Total Cost
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.AdminCostId })
            </td>
            <td>
                @item.Subcontractor.OrgName
            </td>
            <td>
                @item.Month
            </td>
            <td>
                @item.Region.Regions
            </td>
            <td>
                @item.YearId
            </td>
            <td>
                @item.ASalandWages.ToString("C")
            </td>
            <td>
                @item.AEmpBenefits.ToString("C")
            </td>
            <td>
                @item.AEmpTravel.ToString("C")
            </td>
            <td>
                @item.AEmpTraining.ToString("C")
            </td>
            <td>
                @item.AOfficeRent.ToString("C")
            </td>
            <td>
                @item.AOfficeUtilities.ToString("C")
            </td>
            <td>
                @item.AFacilityIns.ToString("C")
            </td>
            <td>
                @item.AOfficeSupplies.ToString("C")
            </td>
            <td>
                @item.AEquipment.ToString("C")
            </td>
            <td>
                @item.AOfficeCommunications.ToString("C")
            </td>
            <td>
                @item.AOfficeMaint.ToString("C")
            </td>
            <td>
                @item.AConsulting.ToString("C")
            </td>
            <td>
                @item.AJanitorServices.ToString("C")
            </td>
            <td>
                @item.ADepreciation.ToString("C")
            </td>
            <td>
                @item.ATechSupport.ToString("C")
            </td>
            <td>
                @item.ASecurityServices.ToString("C")
            </td>
            <td>
                @item.AOther.ToString("C")
            </td>
            <td>
                @item.AOther2.ToString("C")
            </td>
            <td>
                @item.AOther3.ToString("C")
            </td>
            <td>
                @item.ATotCosts.ToString("C")
            </td>
        </tr>
    }
</table>

@*This is how you do a Sum in Linq to apply a total based on a model property*@
<h3>Total Administrative Cost</h3>
<tr>
    <td>@Model.Sum(m => m.ATotCosts).ToString("c")</td>
</tr>
<br/><br />
@using (Html.BeginForm("Export", "AdministrationCost", FormMethod.Post))
{
    <input type="submit" value="Export to Excel" class="btn btn-group-sm btn-primary" />
}