@model PagedList.IPagedList<Alliance_for_Life.Models.ClientList>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h2>Current Active Clients</h2>

    @using (Html.BeginForm())
    {
        <p>
            Find by Last Name: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </p>
    }
    <br />
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="font-size:16px" cellspacing="0" width="100">
        <tr style="font-size:14px; text-align:center; background-color:#d1f5b1;">
            <th>
                Organization
            </th>

            <th>
                First Name
            </th>
            <th>
                @Html.ActionLink("Last Name", "ActiveClients", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Due date", "ActiveClients", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                Birthday
            </th>
            <th>
                Edit
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr style="font-size:14px;">
                <td>
                    <div class="clientid">@item.Subcontractor.OrgName</div>
                </td>

                <td>
                    <div class="fname">@item.FirstName</div>
                </td>

                <td>
                    <div class="lname">@item.LastName</div>
                </td>

                <td>
                    <div class="due">@item.DueDate.ToShortDateString()</div>
                </td>

                <td>
                    <div class="due">@item.DOB.ToShortDateString()</div>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "ClientList", new { id = item.Id }, Request.Url.Scheme)">
                        <i style="font-size:16px; color:#3498DB" class="fa">&#xf044;</i>
                    </a>
                </td>
            </tr>
        }
        <tr></tr>
    </table>

    <h3>Total Active Clients @Model.Count()</h3>



    @using (Html.BeginForm("ExportActive", "ClientList", FormMethod.Post))
    {
        <input type="submit" value="Export to Excel" class="btn btn-primary" />
    }
    <br />

    <p>
        Clients Shown Per Page:
        @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "", onchange = "this.form.submit()" })
    </p>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("ActiveClients",
            new { page, pgSize = ViewBag.psize, @class = "pagination", onchange = "this.form.submit()" }))
</div>