@model IEnumerable<Alliance_for_Life.Models.ClientList>

@{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current Active Clients</h2>

<p>
    Find by Organization Name or Last Name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Organization", "AllActiveClients", new { sortOrder = ViewBag.NameSortParm })
        </th>

        <th>
            First Name
        </th>
        <th>
            @Html.ActionLink("Last Name", "AllActiveClients", new { sortOrder = ViewBag.LastNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Due date", "AllActiveClients", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Birthday
        </th>
        <th>
            Edit
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="clientid">@item.Subcontractor.OrgName</div>
            </td>

            <td>
                <div class="fname">@item.FirstName</div>
            </td>

            <td>
                <div class="lname">@item.LastName</div>
            </td>

            <td>
                <div class="due">@item.DueDate.ToShortDateString()</div>
            </td>

            <td>
                <div class="due">@item.DOB.ToShortDateString()</div>
            </td>

            <td>
                <a href="@Url.Action("Edit", "ClientList", new { id = item.Id }, Request.Url.Scheme)">
                    <i style="font-size:16px; color:#3498DB" class="fa">&#xf044;</i>
                </a>
            </td>
        </tr>
    }
    <tr></tr>
</table>

<h3>Total Active Clients @Model.Count()</h3>

<br />
@using (Html.BeginForm("ExportActive", "ClientList", FormMethod.Post))
{
    <input type="submit" value="Export to Excel" class="btn btn-group-sm btn-primary" />
}
