@model PagedList.IPagedList<Alliance_for_Life.Models.ClientList>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "All Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Current Active Clients</h2>

    @using (Html.BeginForm())
    {
        <p>
            Find by Last Name: @Html.TextBox("searchString")
            <input type="submit" value="Search"/>
        </p>
    }
    <br />
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100">
        <tr>
            <th>
                @Html.ActionLink("Organization", "AllActiveClients", new { sortOrder = ViewBag.NameSortParm })
            </th>

            <th>
                First Name
            </th>
            <th>
                @Html.ActionLink("Last Name", "AllActiveClients", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Due date", "AllActiveClients", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                Birthday
            </th>
            <th>
                Edit
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="clientid">@item.Subcontractor.OrgName</div>
                </td>

                <td>
                    <div class="fname">@item.FirstName</div>
                </td>

                <td>
                    <div class="lname">@item.LastName</div>
                </td>

                <td>
                    <div class="due">@item.DueDate.ToShortDateString()</div>
                </td>

                <td>
                    <div class="due">@item.DOB.ToShortDateString()</div>
                </td>
                <td>
                    <a href="@Url.Action("Edit", "ClientList", new { id = item.Id }, Request.Url.Scheme)">
                        <i style="font-size:16px; color:#3498DB" class="fa">&#xf044;</i>
                    </a>
                </td>
            </tr>
        }
        <tr></tr>
    </table>

    <h3>Total Active Clients @Model.Count()</h3>

    <p>
        Select Number Shown Per Page:
        @Html.DropDownList("pgSize", new SelectList(new[] { 10, 20, 30, 40, 50 }), htmlAttributes: new { @class = "", onchange = "this.form.submit()" })
    </p>

    @using (Html.BeginForm("ExportActive", "ClientList", FormMethod.Post))
    {
        <input type="submit" value="Export to Excel" class="btn btn-primary" />
    }
    <br />

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class="pagination" }))
</div>