@model Alliance_for_Life.Models.Invoice

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgName)
        </dd>
        <dt>

            @Html.DisplayNameFor(model => model.BillingDate)
        </dt>

        <dd>

            @Model.BillingDate
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectAdminCost)
        </dt>

        <dd>
            @Model.DirectAdminCost.ToString("C")

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParticipantServices)
        </dt>

        <dd>
            @Model.ParticipantServices.ToString("C")

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Model.GrandTotal.ToString("C")

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessManagementFee)


        </dt>

        <dd>
            @Model.LessManagementFee.ToString("C")
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>

        <dd>
            @Model.DepositAmount.ToString("C")
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.BeginningAllocation)
        </dt>

        <dd>
            @Model.BeginningAllocation.ToString("C")
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.AdjustedAllocation)
        </dt>

        <dd>
            @Model.AdjustedAllocation.ToString("C")
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.BalanceRemaining)
        </dt>

        <dd>
            @Model.BalanceRemaining.ToString("C")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
