@model  Alliance_for_Life.Models.Invoice

@{
                /**/

                ViewBag.Title = "Invoice Details";
                Layout = "~/Views/Shared/_InvoiceHeader.cshtml";
}

@if (ViewBag.WordDocumentMode == null || !ViewBag.WordDocumentMode)
{
    <br />
    <h3 class="text-center">
        Alternatives to Abortion
    </h3>
    <h4 class="text-center">
        Monthly Invoice
    </h4>
    <h4 class="text-center">
        Subcontractor: @Model.Subcontractor.OrgName
    </h4>
    <h5 class="text-center">Invoice Date: @Model.BillingDate.ToShortDateString()</h5>
    <hr />
    <br />
    <div>
        <h4 class="text-center">
            Administration Cost: @Model.DirectAdminCost.ToString("c")
        </h4>

        <h4 class="text-center">
            Participant Service: @Model.ParticipantServices.ToString("c")
        </h4>

        <h4 class="text-center">
            <strong>
                Grand Total: @Model.GrandTotal.ToString("c")
            </strong>
        </h4>

        <h4 class="text-center">
            Management Fee: @Model.LessManagementFee.ToString("c")
        </h4>

        <h4 class="text-center">
            <strong>
                Deposit Amount: @Model.DepositAmount.ToString("c")
            </strong>
        </h4>
        <br />
        <br />
        <h4>
            Beginning Allocation: @Model.BeginningAllocation.ToString("c")
        </h4>

        <h4>
            Adjusted Allocation: @Model.AdjustedAllocation.ToString("c")
        </h4>

        <h4>
            Remaining Balance: @Model.BalanceRemaining.ToString("c")
        </h4>
    </div>
    <br />
    <h3 class="text-center">
        Signature:____________________________________________________
    </h3>
    <h5 class="text-center">
        <em>
            Signing and returning of invoice indicates acceptance.
        </em>
    </h5>
    <br />
    <br />
    <div class="text-center">
        @Html.ActionLink(" Back to List", "Index") |
        <a href="javascript:window.print()">Print Invoice</a>
    </div>
}


