@model  Alliance_for_Life.Models.Invoice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.WordDocumentMode == null || !ViewBag.WordDocumentMode)
{
    <h2>Details</h2>

    <div>
        <h4>Invoice</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Organization
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrgName)
            </dd>

            <dt>
                Administration Cost
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DirectAdminCost)
            </dd>

            <dt>
                Participant Service
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ParticipantServices)
            </dd>

            <dt>
                Grand Total
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GrandTotal)
            </dd>

            <dt>
                Management Fee
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LessManagementFee)
            </dd>

            <dt>
                Deposit Amount
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DepositAmount)
            </dd>

            <dt>
                Beginning Allocation
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BeginningAllocation)
            </dd>

            <dt>
                Adjusted Allocation
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdjustedAllocation)
            </dd>

            <dt>
                Billing Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BillingDate)
            </dd>

            <dt>
                Remaining Balance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BalanceRemaining)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
        @Html.ActionLink("Back to List", "Index") |
        <a href="javascript:window.print()">Print Invoice</a>
    </p>
}