@model IEnumerable<Alliance_for_Life.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Invoice Details</h2>

<p>
    Find by Organization Name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Organization", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Direct Admin Cost
        </th>

        <th>
            Participant Services
        </th>

        <th>
            Grand Total
        </th>

        <th>
            Less Management Fee
        </th>

        <th>
            Deposit Amount
        </th>

        <th>
            Beginning Allocation
        </th>

        <th>
            Adjusted Allocation
        </th>

        <th>
            Billing Date
        </th>

        <th>
            Balance Remaining
        </th>
        <th>
            Details
        </th>
    </tr>
    @foreach (var invoice in Model)
    {
        <tr>
            <td>
                <div class="clientid">@invoice.Subcontractor.OrgName</div>
            </td>
            <td>
                <div class="clientid">@invoice.DirectAdminCost.ToString("C")</div>
            </td>

            <td>
                <div class="clientid">@invoice.ParticipantServices.ToString("C")</div>
            </td>

            <td>
                <div class="fname">@invoice.GrandTotal.ToString("C")</div>
            </td>

            <td>
                <div class="lname">@invoice.LessManagementFee.ToString("C")</div>
            </td>

            <td>
                <div class="due">@invoice.DepositAmount.ToString("C")</div>
            </td>

            <td>
                <div class="due">@invoice.BeginningAllocation.ToString("C")</div>
            </td>
            <td>
                <div class="lname">@invoice.AdjustedAllocation.ToString("C")</div>
            </td>

            <td>
                <div class="due">@invoice.BillingDate.ToShortDateString()</div>
            </td>

            <td>
                <div class="due">@invoice.BalanceRemaining.ToString("C")</div>
            </td>
            <td>
                @Html.ActionLink("Details", "Invoice", new { id = invoice.InvoiceId })
            </td>
        </tr>
    }
</table>