@model  Alliance_for_Life.Models.Invoice

@{
    Layout = "~/Views/Shared/_InvoiceLayout.cshtml";
}

<meta charset="UTF-8">
<link href="~/Scripts/Invoice/style.css" rel="stylesheet" />
<div class="toolbar hidden-print container invoice">
    <div class="text-right">
        <button class="btn btn-info" style="border:none; background:none;" onclick="location.href='@Url.Action("Index","Invoices")'" )><i class="fa fa-arrow-circle-left" style="color:red; font-size:36px;"></i> </button>

        <button id="printInvoice" class="btn btn-success" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
        <a href="">
        </a>
    </div>
</div>
<div class="container invoice" style="padding-top:-10px;" id="invoice">
    <div class="invoice-header">
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </div>
    <div class="invoice-body">
        <div class="row" style=" font-family:'Times New Roman'">
            <div class="col-xs-6">
                <div>
                    <h2> <strong>Monthly Invoice </strong></h2>
                    <h4 class="text-muted">NO:@Model.InvoiceId.ToString().Substring(19, 12) | Date: @System.DateTime.Now.ToString("MMMM dd, yyyy")</h4>
                </div>
                <br />
                <div class="col-xs-10" style="font-size:medium;">
                    <div class="media">
                        <div class="media-left">
                            <img src="~/Scripts/Invoice/log0.png" class="media-object logo" style=" float: left; padding-right: 1em; padding-top: .5em;" />
                        </div>
                        <ul class="media-body list-unstyled">
                            <li><strong>Alliance For Life</strong></li>
                            <li><i class="fa fa-home"> 487 SW Ward Rd, Lee’s Summit, MO 64081 </i></li>
                            <li><i class="fa fa-envelope"> info@allianceforlifemissouri.com</i></li>
                            <li><i class="fa fa-phone"> 816-806-4768</i></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-5" style="font-size:medium;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center;">Customer Details</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt style="text-align:left;">EIN</dt>
                            <dd style="text-align:left;"> @Model.Subcontractor.EIN</dd>
                            <dt style="text-align:left;">Name</dt>
                            <dd style="text-align:left;">@Model.Subcontractor.OrgName</dd>
                            <dt style="text-align:left;">Address</dt>
                            <dd style="text-align:left;">@Model.Subcontractor.Address1, @Model.Subcontractor.County, @Model.Subcontractor.City - @Model.Subcontractor.State  @Model.Subcontractor.ZipCode , USA</dd>
                            <dt style="text-align:left;">Director</dt>
                            <dd style="text-align:left;">@Model.Subcontractor.Director</dd>
                            <dt style="text-align:left;">Bill For</dt>
                            <dd style="text-align:left;">@Model.Month, @Model.Year</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Services / Products</h3>
            </div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th> Details</th>
                        <th class="text-center colfix">Administrative Cost</th>
                        <th class="text-center colfix">Participant Service</th>
                        <th class="text-center colfix">Management Fee</th>
                        <th class="text-center colfix">Grand Total</th>
                        <th class="text-center colfix">Deposit Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Price
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.DirectAdminCost</span>
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.ParticipantServices</span>

                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.LessManagementFee</span>
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.GrandTotal</span>
                        </td>
                        <td class="text-right">
                            <strong class="mono">$@Model.DepositAmount</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <td class="text-center col-xs-1">Beginning Allocation</td>
                        <td class="text-center col-xs-1">Adjusted Allocation</td>
                        <td class="text-center col-xs-1">Remaining Balance</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center rowtotal mono">$@Model.BeginningAllocation</th>
                        <th class="text-center rowtotal mono">$@Model.AdjustedAllocation</th>
                        <th class="text-center rowtotal mono">$@Model.BalanceRemaining</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5">

            </div>
            <div class="col-xs-7">
                <div class="panel panel-default" style="border:none;">
                    <div class="panel-body">
                        <strong>Signature:</strong> ____________________________________________________
                        <ul class="list-unstyled">
                            <br />
                            <li style="font-size:12px; text-align:center;">
                                *Signing and returning of invoice indicates acceptance.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="invoice-footer">
        Thank you for choosing our services.
        <br /> We hope to see you again soon
        <br />
        <strong>~AFL~</strong>
    </div>
</div>



