@model  Alliance_for_Life.Models.Invoice

@{
    Layout = "~/Views/Shared/_InvoiceLayout.cshtml";
}

<meta charset="UTF-8">
<link href="~/Scripts/Invoice/style.css" rel="stylesheet" />
<div class="toolbar hidden-print container invoice">
    <div class="text-right">
        <button class="btn btn-info" style="border:none; background:none;" onclick="location.href='@Url.Action("Index","Invoices")'" )><i class="fa fa-arrow-circle-left" style="color:red; font-size:36px;"></i> </button>

        <button id="printInvoice" class="btn btn-success" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
        <a href="">
        </a>
    </div>
</div>
<div class="container invoice" style="padding-top:-10px;" id="invoice">
    <div class="invoice-header">
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">

            </div>
        </div>
    </div>
    <div class="invoice-body">
        <div class="row" style=" font-family:'Times New Roman'">
            <div class="col-xs-6">

                <div class="col-xs-10" style="font-size:medium;">
                    <div class="media">
                        <div class="media-left">
                            <img src="~/Content/DataTables/images/AFL-2015LOGO-CMYK[1].jpg" class="media-object logo" style=" float: left; padding-right: 1em; padding-top: .5em;" />
                        </div>
                        <ul class="media-body list-unstyled">
                            <li><strong>Alliance For Life</strong></li>
                            <li> 487 SW Ward Rd, Lee’s Summit, MO 64081 </li>
                            <li><i class="fa fa-phone"> 816-806-4168</i></li>
                        </ul>
                    </div>
                </div>
                <br />
                <div>
                    <h2> <strong>Monthly Invoice </strong></h2>
                    <h4 class="text-muted">NO:@Model.InvoiceId.ToString().Substring(19, 12) | Date: @System.DateTime.Now.ToString("MMMM dd, yyyy")</h4>
                </div>

            </div>
            <div class="col-xs-6" style="font-size:medium;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align:center;">SubContractor</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt style="text-align:left;">Name</dt>
                            <dd style="text-align:left;">@Model.Subcontractor.OrgName</dd>
                            <dt style="text-align:left;">Address</dt>
                            <dd >@Model.Subcontractor.Address1, @Model.Subcontractor.County, @Model.Subcontractor.City   @Model.Subcontractor.State  @Model.Subcontractor.ZipCode , USA </p> </dd>
                            <dt style="text-align:left;"> Key Contact</dt>
                            <dd style="text-align:left;">@Model.Subcontractor.Director</dd>
                            <dt style="text-align:left;">Invoice Month</dt>
                            <dd style="text-align:left;">@Model.Month, @Model.Year</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Alternative to Abortion Program</h3>
            </div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="text-center colfix"> Details</th>
                        <th class="text-center colfix"> Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Administrative Cost
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.DirectAdminCost.ToString("#,##0.00")</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Participant Cost
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.ParticipantServices.ToString("#,##0.00")</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Less Management Fee
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.LessManagementFee.ToString("#,##0.00")</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Deposit Amount
                        </td>
                        <td class="text-right">
                            <span class="mono">$@Model.DepositAmount.ToString("#,##0.00")</span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Grand Total
                        </th>
                        <td class="text-right">
                            <span class="mono">$@Model.GrandTotal.ToString("#,##0.00")</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <td class="text-left ">Beginning Allocation</td>
                        <td class="text-right ">$@Model.BeginningAllocation.ToString("#,##0.00")</td>
                    </tr>
                    <tr>
                        <td class="text-left ">Adjusted Allocation</td>
                        <td class="text-right ">$@Model.AdjustedAllocation.ToString("#,##0.00")</td>

                    </tr>
                    <tr>
                        <td class="text-left ">Remaining Balance</td>
                        <td class="text-right ">$@Model.BalanceRemaining.ToString("#,##0.00")</td>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                     
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5">

            </div>
            <div class="col-xs-7">
                <div class="panel panel-default" style="border:none;">
                    <div class="panel-body">
                        <strong>Signature:</strong> ____________________________________________________
                        <ul class="list-unstyled">
                            <br />
                            <li style="font-size:12px; text-align:center;">
                                *Signing and returning of invoice indicates acceptance.
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



