@model Alliance_for_Life.Models.ResidentialMIR

@{
    ViewBag.Title = "Details for Residential Monthly Service Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl >
        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcontractor.OrgName)
        </dd>

        <dt class="col-md-6">
            Date form was submitted
        </dt>

        <dd>
            @Model.SubmittedDate.ToShortDateString()
        </dd>

        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Model.Month
        </dd>

        <dt class="col-md-6">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-md-6">
            Total Overall Client Bed Nights
        </dt>

        <dd>
            @Model.TotBedNights.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Current A2A Enrollment
        </dt>

        <dd>
            @Model.TotA2AEnrollment.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Total A2A Bed Nights
        </dt>

        <dd>
            @Model.TotA2ABedNights.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            # of Clients Engaged in Job or Educational Services
        </dt>

        <dd>
            @Model.ClientsJobEduServ.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Total # of Fathers Participated in A2A
        </dt>

        <dd>
            @Model.ParticipatingFathers.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Total # of Prenatal & Parenting Education Classes held
        </dt>

        <dd>
            @Model.TotEduClasses.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Total # of Clients Attending Prenatal & Parenting Classes
        </dt>

        <dd>
            @Model.TotClientsinEduClasses.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Case Management Hours Provided
        </dt>

        <dd>
            @Model.TotCaseHrs.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Total # of Participants in Case Management
        </dt>

        <dd>
            @Model.TotClientsCaseHrs.ToString("#,##0")
        </dd>

        <dt class="col-md-6">
            Total # of Other Classes held (i.e. money management, healthy lifestyles etc.)
        </dt>

        <dd>
            @Model.TotOtherClasses.ToString("#,##0")
        </dd>
    </dl>
</div>
<p>
    @if (!User.IsInRole("Admin"))
    {
        @Html.ActionLink("Delete |", "Delete","ResidentialMIRs", new { id = Model.Id });
    }
    @Html.ActionLink("Back to List", "Index", "MonthlyServiceReport")
</p>
<br />
<br />