@model Alliance_for_Life.ViewModels.SubContractorFormViewModel
@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "SubContractor"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.OrgName)
        @Html.TextBoxFor(m => m.OrgName, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.OrgName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Director)
        @Html.TextBoxFor(m => m.Director, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Director)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.State)
        @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.State)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.County)
        @Html.TextBoxFor(m => m.County, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.County)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ZipCode)
        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Region)
        @Html.DropDownListFor(m => m.Region, new SelectList(Model.Regions, "Id", "Regions"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Region)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EIN)
        @Html.TextBoxFor(m => m.EIN, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EIN)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address1)
        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PoBox)
        @Html.TextBoxFor(m => m.PoBox, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllocatedContractAmount)
        @Html.TextBoxFor(m => m.AllocatedContractAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AllocatedContractAmount)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AllocatedAdjustments)
        @Html.TextBoxFor(m => m.AllocatedAdjustments, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AllocatedAdjustments)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Active)
        @Html.RadioButtonFor(m => m.Active, "True", new {@class = "form-group" })Yes.
        @Html.RadioButtonFor(m => m.Active, "False", new { @class = "form-group" })No.
    </div>

    <button type="submit" class="btn btn-primary">Add Subcontractor</button>
    <br />
    <br />
    <br />
}
@section scripts
    {
        @Scripts.Render("~/bundles/jqueryval")
    }
