@model Alliance_for_Life.Models.AllocatedBudget

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AllocatedBudget</h4>
    <hr />
    <dl >
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcontractor.OrgName)
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.CycleEndAdjustments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CycleEndAdjustments)
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.AllocatedNewBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedNewBudget)
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.AllocatedOldBudget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocatedOldBudget)
        </dd>

        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.AllocationAdjustedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllocationAdjustedDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
