@model IEnumerable<Alliance_for_Life.Models.AllocatedBudget>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcontractor.EIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subcontractor.OrgName)
        </th>
        <th>
            @Html.DisplayName("July Biling")
        </th>
        <th>
            @Html.DisplayName("August Biling")
        </th>
        <th>
            @Html.DisplayName("September Biling")
        </th>
        <th>
            @Html.DisplayName("October Biling")
        </th>
        <th>
            @Html.DisplayName("November Biling")

        </th>
        <th>
            @Html.DisplayName("December Biling")
        </th>
        <th>
            @Html.DisplayName("January Biling")
        </th>
        <th>
            @Html.DisplayName("February Biling")
        </th>
        <th>
            @Html.DisplayName("March Biling")
        </th>
        <th>
            @Html.DisplayName("April Biling")
        </th>
        <th>
            @Html.DisplayName("May Biling")
        </th>
        <th>
            @Html.DisplayName("June Biling")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CycleEndAdjustments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocatedNewBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocatedOldBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllocationAdjustedDate)
        </th>

        <th></th>
    </tr>
   
    @foreach (var group in Model.GroupBy(item => item.Subcontractor.OrgName))
    {
<tr>

    <td>
        @Html.Encode(group.FirstOrDefault().Subcontractor.EIN)
    </td>
    <td>
        @Html.Encode(group.Key)
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.July)
            {
                @*@Html.Encode(item.Invoice.GrandTotal)*@
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.August)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.September)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.October)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.November)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.December)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.January)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>

    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.February)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>

    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.March)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>

    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.April)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.May)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>
    <td>
        @foreach (var item in group)
        {
            if (item.Month == Alliance_for_Life.Models.Months.June)
            {
                @Html.Encode(item.Month)
            }

        }
    </td>


    <td>
        @Html.Encode(group.FirstOrDefault().CycleEndAdjustments.ToString("C"))
    </td>
    <td>
        @Html.Encode(group.FirstOrDefault().AllocatedNewBudget.ToString("C"))
    </td>
    <td>
        @Html.Encode(group.FirstOrDefault().AllocatedOldBudget.ToString("C"))
    </td>
    <td>
        @Html.Encode(group.FirstOrDefault().AllocationAdjustedDate.ToShortDateString())
    </td>
</tr>
            }
    </table>

