@model Alliance_for_Life.Models.QuarterlyState

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuarterlyState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotPSforQuarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotPSforQuarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotDAforQuarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotDAforQuarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateFeeQuarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateFeeQuarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotDAandPSQuarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotDAandPSQuarter)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuraterlyStateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
