@model IEnumerable<Alliance_for_Life.Models.ClientListReportViewModel>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Assets</h1>
            </div>
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date of Birth</th>
                            <th>Due Date</th>
                            <th>Orginization</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.clientListVm.FirstName</td>
                                <td>@item.clientListVm.LastName</td>
                                <td>@item.clientListVm.DOB</td>
                                <td>@item.clientListVm.DueDate</td>
                                <td>@item.subcontractorVm.OrgName</td>
                                <td>@item.clientListVm.Active</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

     $(document).ready(function () {

         $('#assets-data-table').DataTable();
     });
    </script>

}


