@model Alliance_for_Life.Models.ParticipationService

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ParticipationService</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Organization
        </dt>

        <dd>
            @Model.Subcontractor.OrgName
        </dd>
        <dt>
            Month
        </dt>

        <dd>
            @Model.Month.Months
        </dd>

        <dt>
            Region
        </dt>

        <dd>
            @Model.Region.Regions
        </dd>

        <dt>
            Transportation
        </dt>

        <dd>
            @Model.PTranspotation.ToString("C")
        </dd>

        <dt>
            Job Training
        </dt>

        <dd>
            @Model.PJobTrain.ToString("C")
        </dd>

        <dt>
            Eduacation Assistance
        </dt>

        <dd>
            @Model.PEducationAssistance.ToString("C")
        </dd>

        <dt>
            Residental Care
        </dt>

        <dd>
            @Model.PResidentialCare.ToString("C")
        </dd>

        <dt>
            Utilities
        </dt>

        <dd>
            @Model.PUtilities.ToString("C")
        </dd>

        <dt>
            Housing Emergencies
        </dt>

        <dd>
            @Model.PHousingEmergency.ToString("C")
        </dd>

        <dt>
            Housing Assistance
        </dt>

        <dd>
            @Model.PHousingAssistance.ToString("C")
        </dd>

        <dt>
            Child Care
        </dt>

        <dd>
            @Model.PChildCare.ToString("C")
        </dd>

        <dt>
            Clothing
        </dt>

        <dd>
            @Model.PClothing.ToString("C")
        </dd>

        <dt>
            Food
        </dt>

        <dd>
            @Model.PFood.ToString("C")
        </dd>

        <dt>
            Supplies
        </dt>

        <dd>
            @Model.PSupplies.ToString("C")
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.POther.ToString("C")
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.POther2.ToString("C")
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.POther3.ToString("C")
        </dd>

        <dt>
            Participation Totals
        </dt>

        <dd>
            @Model.PTotals.ToString("C")
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PSId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.PSId })|  
    @Html.ActionLink("Back to List", "Index")
</p>
