@model IEnumerable<Alliance_for_Life.Models.SubContractor>
@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to the Alternative to Abortion Database System</h1>
<h3>Centers we work with:</h3>
<ul class="subcontractor">
    @foreach (var subcontractor in Model)
    {
        <li class="col-sm-4">
            <div class="details">
                <div class="orgname">@subcontractor.OrgName</div>
                <div class="address1"><strong>Director: </strong> @subcontractor.Director</div>
                <div class="address1"><strong>Address: </strong> @subcontractor.Address1</div>
                <div class="city">@subcontractor.City</div>
                <div class="state">@subcontractor.State</div>
            </div>
            <div class="actions">
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit", "SubContractor", new { id = subcontractor.SubcontractorId })">Edit</a>
                }
                
            </div>
        </li>
    }
</ul>


