@model Alliance_for_Life.ViewModels.AFLFormViewModel
@{
    ViewBag.Title = "AFL Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AFL Forms</h2>
<ul>
    <li><a href="@Url.Action("Create", "SubContractor")">Add New Subcontractor to Database System</a></li>
    <li><a href="@Url.Action("Create", "BudgetCosts")">Budget Price Analysis Form for Subcontractors</a></li>
    <li><a href="@Url.Action("Register", "Account")">Register New Users</a></li>
    <li><a href="@Url.Action("Create", "AllocatedBudgets")">Set Allocation Amounts</a></li>
    <li><a href="@Url.Action("Create", "Surveys")">Form for Returned Surveys</a></li>
    <li><a href="@Url.Action("Create", "AdministrationCost")">Direct Administrative Costs Form</a></li>
    <li><a href="@Url.Action("Create", "ParticipationService")">Participation Costs Form</a></li>
    <li><a href="@Url.Action("Create", "A2AStateDeposits")">State Deposit Form</a></li>
    <li><a href="@Url.Action("Create", "Surveys")">Returned Survey's Form</a></li>
</ul>
  
