@model Alliance_for_Life.ViewModels.AFLFormViewModel
@{
    ViewBag.Title = "AFL Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AFLForms</h2>
<ul>
    <li><a href="@Url.Action("Create", "SubContractor")">Create New Subcontractor</a></li>
    <li><a href="@Url.Action("Create", "BudgetCost")">Monthly Budget Form</a></li>
    <li><a href="@Url.Action("ActiveClients", "ClientList")">Active Client Report</a></li>
    <li><a href="@Url.Action("ActiveClients", "ClientList")">Active Client Report</a></li>
    <li><a href="@Url.Action("ActiveClients", "ClientList")">Active Client Report</a></li>
</ul>
    
