@model Alliance_for_Life.ViewModels.AFLFormViewModel
@{
    ViewBag.Title = "AFLReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AFL Reports</h2>

<ul>
    <text><strong>Analysis Reports</strong></text>
    <li><a href="@Url.Action("Index", "BudgetCosts")">Budget Price Analysis Report</a></li>
    <li><a href="@Url.Action("CostAnalysis", "BudgetCosts")">Cost Analysis Reports</a></li>
    <li><a href="@Url.Action("Index", "AllocatedBudgets")">Allocation Analysis Reports</a></li>
    <li><a href="@Url.Action("Index", "ResidentialMIRs")">Monthly Service Reports</a></li>
    @*<li><a href="@Url.Action("GraphIndex", "BudgetCosts")">Budget Graph Reports</a></li>*@
    <br />
    <text><strong>Client Reports</strong></text>
    <li><a href="@Url.Action("AllActiveClients", "ClientList")">All Active Client Report</a></li>
    <li><a href="@Url.Action("AllNonActiveClients", "ClientList")">All Non-Active Client Report</a></li>
    <br />
    <text><strong>Other Reports</strong></text>
    <li><a href="@Url.Action("IndexforRegisteredUsers", "Account")">Registered Users</a></li>
    <li><a href="@Url.Action("Reports", "SubContractor")"> Current Subcontractor Report</a></li>
    <li><a href="@Url.Action("Index", "Surveys")">Completed Surveys</a></li>

</ul>

