@model Alliance_for_Life.ViewModels.AFLFormViewModel
@{
    ViewBag.Title = "AFLReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AFL Reports</h2>

<ul>
    <text><strong>Budget Reports</strong></text>
    <li><a href="@Url.Action("Index", "BudgetCosts")">Monthly Budget Reports</a></li>
    <li><a href="@Url.Action("FirstQuarter", "BudgetCosts")">First Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("SecondQuarter", "BudgetCosts")">Second Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("ThirdQuarter", "BudgetCosts")">Third Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("FourthQuarter", "BudgetCosts")">Fourth Quarter Budget Reports</a></li>
    <br />
    <text><strong>Client Reports</strong></text>
    <li><a href="@Url.Action("AllActiveClients", "ClientListReport")">All Active Client Report</a></li>
    <li><a href="@Url.Action("AllNonActiveClients", "ClientListReport")">All Non-Active Client Report</a></li>
    <br />
    <text><strong>Other Reports</strong></text>
    <li><a href="@Url.Action("Reports", "SubContractor")">Subcontractor Reports</a></li>
    <li><a href="@Url.Action("Reports", "ResidentialMIR")">Residential MIR Reports</a></li>
    <li><a href="@Url.Action("Reports", "NonResidentialMIR")">Non-Residential MIR Reports</a></li>
    <li><a href="@Url.Action("Index", "AdministrationCost")">Subcontrator Monthly Admin Cost Reports</a></li>
    <li><a href="@Url.Action("Index", "ParticipationCost")">Subcontractor Participation Cost Reports</a></li>
    <br />
    <text><strong>Surveys</strong></text>
    <li><a href="@Url.Action("Index", "Surveys")">Completed Surveys</a></li>
</ul>

