@model Alliance_for_Life.ViewModels.AFLFormViewModel
@{
    ViewBag.Title = "AFLReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AFL Reports</h2>

<ul>
    <li><a href="@Url.Action("Reports", "BudgetCost")">Monthly Budget Reports</a></li>
    <li><a href="@Url.Action("FirstQuarterReports", "BudgetCost")">First Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("SecondQuarterReports", "BudgetCost")">Second Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("ThirdQuarterReports", "BudgetCost")">Third Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("FourthQuarterReports", "BudgetCost")">Fourth Quarter Budget Reports</a></li>
    <li><a href="@Url.Action("AllActiveClients", "ClientListReport")">All Active Client Report</a></li>
    <li><a href="@Url.Action("AllNonActiveClients", "ClientListReport")">All Non-Active Client Report</a></li>
    <li><a href="@Url.Action("Reports", "SubContractor")">Subcontractor Reports</a></li>
    <li><a href="@Url.Action("Reports", "ResidentialMIR")">Residential MIR Reports</a></li>
    <li><a href="@Url.Action("Reports", "NonResidentialMIR")">Non-Residential MIR Reports</a></li>
    <li><a href="@Url.Action("Reports", "AdminCosts")">Administrator Cost Reports</a></li>
</ul>

