@model IEnumerable<Alliance_for_Life.Models.Invoice>

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoice</h2>

<table class="table">
    <tr>
        <th>
            Organization
        </th>
        <th>
            Direct Administration Cost
        </th>

        <th>
            Participant Services
        </th>

        <th>
            Grand Total
        </th>

        <th>
            Less Management Fee
        </th>

        <th>
            Deposit Amount
        </th>

        <th>
            Beginning Allocation
        </th>

        <th>
            Adjusted Allocation
        </th>

        <th>
            Billing Date
        </th>

        <th>
            Balance Remaining
        </th>
        <th></th>
    </tr>
    @foreach (var invoice in Model)
    {
        <tr>
            <td>
                <div class="clientid">@invoice.OrgName</div>
            </td>
            <td>
                <div class="clientid">@invoice.DirectAdminCost.ToString("C")</div>
            </td>

            <td>
                <div class="clientid">@invoice.ParticipantServices.ToString("C")</div>
            </td>

            <td>
                <div class="fname">@invoice.GrandTotal.ToString("C")</div>
            </td>

            <td>
                <div class="lname">@invoice.LessManagementFee.ToString("C")</div>
            </td>

            <td>
                <div class="due">@invoice.DepositAmount.ToString("C")</div>
            </td>

            <td>
                <div class="due">@invoice.BeginningAllocation.ToString("C")</div>
            </td>
            <td>
                <div class="lname">@invoice.AdjustedAllocation.ToString("C")</div>
            </td>

            <td>
                <div class="due">@invoice.BillingDate.ToShortDateString()</div>
            </td>

            <td>
                <div class="due">@invoice.BalanceRemaining.ToString("C")</div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = invoice.OrgName }) |
                @Html.ActionLink("Details", "Details", new { id = invoice.OrgName }) |
                @Html.ActionLink("Delete", "Delete", new { id = invoice.OrgName })|
                @Html.ActionLink("Print", "Home", new { id = invoice.OrgName })
            </td>
        </tr>
    }
    <tr></tr>
</table>
