@model Alliance_for_Life.ViewModels.ContractorFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monthly Client Forms</h2>

<li><a href="@Url.Action("Create", "ClientList")">Add Clients</a></li>
<li><a href="@Url.Action("Create", "ResidentialMIR")">Residential MIR Form</a></li>
<li><a href="@Url.Action("Create", "NonResidentialMIR")">NonResidential MIR Form</a></li>
<li><a href="@Url.Action("Create", "AdministrationCost")">Direct Administrative Costs</a></li>
<li><a href="@Url.Action("Create", "ParticipationCost")">Participation Services</a></li>


@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MyScripts.js"></script>
}


