@model Alliance_for_Life.ViewModels.ContractorFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monthly Client Forms</h2>

<li><a href="@Url.Action("Create", "ClientList")">Add Clients</a></li>
<li><a href="@Url.Action("Create", "ResidentialMIRs")"> Residential Monthly Service Form </a></li>
<li><a href="@Url.Action("Create", "NonResidentialMIRs")"> NonResidential Monthly Service Form </a></li>
<li><a href="@Url.Action("Create", "AdministrationCost")">Direct Administrative Costs Form</a></li>
<li><a href="@Url.Action("Create", "ParticipationService")">Participation Costs Form</a></li>

<li><a href="@Url.Action("CreateR", "MonthlyServices")"> Residential Monthly Service Form </a></li>
<li><a href="@Url.Action("CreateN", "MonthlyServices")"> Non Residential Monthly Service Form </a></li>


@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MyScripts.js"></script>
}


