@model IEnumerable<Alliance_for_Life.Models.MonthlyServices>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcontractor.AdministratorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotBedNights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotA2AEnrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotA2ABedNights)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RMA2Apercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RClientsJobEduServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RParticipatingFathers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotClientsinEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotClientsCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RTotOtherClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTotA2AEnrollment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NMA2Apercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NClientsJobEduServ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NParticipatingFathers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTotEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTotClientsinEduClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTotCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTotClientsCaseHrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NTotOtherClasses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subcontractor.AdministratorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotBedNights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotA2AEnrollment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotA2ABedNights)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RMA2Apercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RClientsJobEduServ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RParticipatingFathers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotEduClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotClientsinEduClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotCaseHrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotClientsCaseHrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RTotOtherClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTotA2AEnrollment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NMA2Apercent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NClientsJobEduServ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NParticipatingFathers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTotEduClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTotClientsinEduClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTotCaseHrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTotClientsCaseHrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NTotOtherClasses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
