@model IEnumerable<Alliance_for_Life.Models.A2AStateDeposits>

@{
    ViewBag.Title = "State Deposit Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<form>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                    Search By Year: @Html.DropDownList("Year", null, "Select Year", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
                <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                    Search By Month: @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
            </div>
        </div>
    }
</form>
<br />
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="font-size:16px" cellspacing="0" width="100">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StateDeposits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StateDeposits.ToString("C")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.A2AStateDepositsId }) |
                @Html.ActionLink("Details", "Details", new { id = item.A2AStateDepositsId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.A2AStateDepositsId })
            </td>
        </tr>
    }

</table>
