@model Alliance_for_Life.ViewModels.BudgetCostViewModel

@{
    ViewBag.Title = Model.Heading;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "BudgetCost", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Month)
    @Html.HiddenFor(m => m.Region)

    <div class="form-group">
        @Html.LabelFor(m => m.Region)
        @Html.DropDownListFor(m => m.Region, new SelectList(Model.Regions, "Id", "Regions"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Region)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Month)
        @Html.DropDownListFor(m => m.Month, new SelectList(Model.Months, "Id", "Months"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Month)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ASalandWages)
        @Html.TextBoxFor(m => m.ASalandWages, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.ASalandWages)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AEmpBenefits)
        @Html.TextBoxFor(m => m.AEmpBenefits, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AEmpBenefits)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AEmpTravel)
        @Html.TextBoxFor(m => m.AEmpTravel, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AEmpTravel)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AEmpTraining)
        @Html.TextBoxFor(m => m.AEmpTraining, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AEmpTraining)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AOfficeRent)
        @Html.TextBoxFor(m => m.AOfficeRent, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AOfficeRent)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AOfficeUtilities)
        @Html.TextBoxFor(m => m.AOfficeUtilities, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AOfficeUtilities)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AFacilityIns)
        @Html.TextBoxFor(m => m.AFacilityIns, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AFacilityIns)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AOfficeSupplies)
        @Html.TextBoxFor(m => m.AOfficeSupplies, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AOfficeSupplies)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AEquipment)
        @Html.TextBoxFor(m => m.AEquipment, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AEquipment)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AOfficeCommunications)
        @Html.TextBoxFor(m => m.AOfficeCommunications, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AOfficeCommunications)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AOfficeMaint)
        @Html.TextBoxFor(m => m.AOfficeMaint, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AOfficeMaint)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AConsulting)
        @Html.TextBoxFor(m => m.AConsulting, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AConsulting)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Other)
        @Html.TextBoxFor(m => m.Other, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.Other)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BackgrounCheck)
        @Html.TextBoxFor(m => m.BackgrounCheck, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.BackgrounCheck)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SubConPayCost)
        @Html.TextBoxFor(m => m.SubConPayCost, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.SubConPayCost)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AJanitorServices)
        @Html.TextBoxFor(m => m.AJanitorServices, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.AJanitorServices)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ADepreciation)
        @Html.TextBoxFor(m => m.ADepreciation, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.ADepreciation)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ATechSupport)
        @Html.TextBoxFor(m => m.ATechSupport, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.ATechSupport)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ASecurityServices)
        @Html.TextBoxFor(m => m.ASecurityServices, new { @class = "form-control numAdd" })
        @Html.ValidationMessageFor(m => m.ASecurityServices)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ATotCosts)
        @Html.TextBoxFor(m => m.ATotCosts, new {@readonly = "readonly",  @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ATotCosts)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AdminFee)
        @Html.TextBoxFor(m => m.AdminFee, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AdminFee)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Trasportation)
        @Html.TextBoxFor(m => m.Trasportation, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.Trasportation)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JobTraining)
        @Html.TextBoxFor(m => m.JobTraining, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.JobTraining)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.TuitionAssistance)
        @Html.TextBoxFor(m => m.TuitionAssistance, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.TuitionAssistance)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ContractedResidential)
        @Html.TextBoxFor(m => m.ContractedResidential, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.ContractedResidential)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UtilityAssistance)
        @Html.TextBoxFor(m => m.UtilityAssistance, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.UtilityAssistance)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmergencyShelter)
        @Html.TextBoxFor(m => m.EmergencyShelter, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.EmergencyShelter)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.HousingAssistance)
        @Html.TextBoxFor(m => m.HousingAssistance, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.HousingAssistance)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Childcare)
        @Html.TextBoxFor(m => m.Childcare, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.Childcare)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Clothing)
        @Html.TextBoxFor(m => m.Clothing, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.Clothing)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Food)
        @Html.TextBoxFor(m => m.Food, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.Food)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Supplies)
        @Html.TextBoxFor(m => m.Supplies, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.Supplies)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RFO)
        @Html.TextBoxFor(m => m.RFO, new { @class = "form-control numAdd2" })
        @Html.ValidationMessageFor(m => m.RFO)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.BTotal)
        @Html.TextBoxFor(m => m.BTotal, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.BTotal)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Maxtot)
        @Html.TextBoxFor(m => m.Maxtot, new { @readonly = "readonly", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Maxtot)
    </div>

    <button type="submit" class="btn btn-primary">Create Invoice</button>
    <br />
    <br />
    <br />
}



@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/MyScripts.js"></script>
}