@model IEnumerable<Alliance_for_Life.Models.BudgetReport>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Budget Reports</h2>

<table class="table">
    <tr>
        <th>
            Budget Invoice Id
        </th>

        <th>
            Month
        </th>

        <th>
            Region
        </th>

        <th>
            Admin Totals
        </th>

        <th>
            Utility Totals
        </th>

        <th>
            Combied Totals
        </th>
        <th></th>
    </tr>
    @foreach (var budgets in Model)
    {
        <tr>
            <td>
                <div class="clientid">@budgets.BudgetInvoiceId</div>
            </td>

            <td>
                <div class="clientid">@budgets.MonthName</div>
            </td>

            <td>
                <div class="fname">@budgets.RegionName</div>
            </td>

            <td>
                <div class="lname">@budgets.ATotCosts.ToString("C")</div>
            </td>

            <td>
                <div class="due">@budgets.BTotal.ToString("C")</div>
            </td>

            <td>
                <div class="due">@budgets.Maxtot.ToString("C")</div>
            </td>
            <td>
                <a href="@Html.Action("Edit", "BudgetCost", new { id = budgets.BudgetInvoiceId })">Edit</a>
            </td>
        </tr>
    }
    <tr></tr>
</table>

<br />
@using (Html.BeginForm("Export", "BudgetCost", FormMethod.Post))
{
    <input type="submit" value="Export to Excel" class="btn-primary" />
}