@model IEnumerable < Alliance_for_Life.Models.BudgetReport >

@{
    ViewBag.Title = "Second Quarter Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Second Quarter Reports</h2>

<table class="table">
    <tr>
        <th>
            Budget Invoice Id
        </th>

        <th>
            Month
        </th>

        <th>
            Region
        </th>

        <th>
            Admin Totals
        </th>

        <th>
            Utility Totals
        </th>

        <th>
            Combied Totals
        </th>
        <th></th>
    </tr>
    @foreach (var budgets in Model)
    {
        <tr>
            <td>
                <div class="clientid">@budgets.BudgetInvoiceId</div>
            </td>

            <td>
                <div class="clientid">@budgets.MonthName</div>
            </td>

            <td>
                <div class="fname">@budgets.RegionName</div>
            </td>

            <td>
                <div class="lname">@budgets.ATotCosts</div>
            </td>

            <td>
                <div class="due">@budgets.BTotal</div>
            </td>

            <td>
                <div class="due">@budgets.Maxtot</div>
            </td>
        </tr>
    }
    <tr></tr>
</table>

<br />
@using (Html.BeginForm("Export", "BudgetCost", FormMethod.Post))
{
    <input type="submit" value="Export to Excel" class="btn-primary" />
}
