@model Alliance_for_Life.Models.BudgetCosts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Budget Report Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Year
        </dt>

        <dd>
            @Model.Year 
        </dd>

        <dt>
            Region
        </dt>

        <dd>
            @Model.Region.GetDisplayName()
        </dd>

        <dt>
            Salaries or Wages
        </dt>

        <dd>
            @Model.ASalandWages.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.ASalandWages / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Employee Benefits
        </dt>

        <dd>
            @Model.AEmpBenefits.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AEmpBenefits / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Employee Travel
        </dt>

        <dd>
            @Model.AEmpTravel.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AEmpTravel / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Employee Training
        </dt>

        <dd>
            @Model.AEmpTraining.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AEmpTraining / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Office Rent
        </dt>

        <dd>
            @Model.AOfficeRent.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AOfficeRent / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Office Utilities
        </dt>

        <dd>
            @Model.AOfficeUtilities.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AOfficeUtilities / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Facility Insurance
        </dt>

        <dd>
            @Model.AFacilityIns.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AFacilityIns / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Office Supplies
        </dt>

        <dd>
            @Model.AOfficeSupplies.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AOfficeSupplies / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Equipment
        </dt>

        <dd>
            @Model.AEquipment.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AEquipment / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Office Communications
        </dt>

        <dd>
            @Model.AOfficeCommunications.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AOfficeCommunications / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Office Maintenance
        </dt>

        <dd>
            @Model.AOfficeMaint.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AOfficeMaint / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Consulting Fees
        </dt>

        <dd>
            @Model.AConsulting.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AConsulting / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            EFT Fees
        </dt>

        <dd>
            @Model.SubConPayCost.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.SubConPayCost / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.BackgrounCheck.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.BackgrounCheck / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Other
        </dt>

        <dd>
            @Model.Other.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AConsulting / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Janitorial Services
        </dt>

        <dd>
            @Model.AJanitorServices.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AJanitorServices / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Depreciation
        </dt>

        <dd>
            @Model.ADepreciation.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.ADepreciation / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Technical Support
        </dt>

        <dd>
            @Model.ATechSupport.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.ATechSupport / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Security Services
        </dt>

        <dd>
            @Model.ASecurityServices.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.ASecurityServices / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Admininstration Totals
        </dt>

        <dd>
            @Model.ATotCosts.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.ATotCosts / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Administration Fee
        </dt>

        <dd>
            @Model.AdminFee.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.AdminFee / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Transportation
        </dt>

        <dd>
            @Model.Trasportation.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.Trasportation / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Job Training
        </dt>

        <dd>
            @Model.JobTraining.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.JobTraining / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Tuition Assistance
        </dt>

        <dd>
            @Model.TuitionAssistance.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.TuitionAssistance / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Contracted Residential Care
        </dt>

        <dd>
            @Model.ContractedResidential.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.ContractedResidential / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Utility Assistance
        </dt>

        <dd>
            @Model.UtilityAssistance.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.UtilityAssistance / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Emergency Shelter
        </dt>

        <dd>
            @Model.EmergencyShelter.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.EmergencyShelter / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Housing Assistance
        </dt>

        <dd>
            @Model.HousingAssistance.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.HousingAssistance / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Childcare
        </dt>

        <dd>
            @Model.Childcare.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.Childcare / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Clothing
        </dt>

        <dd>
            @Model.Clothing.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.Clothing / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Food
        </dt>

        <dd>
            @Model.Food.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.Food / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Supplies
        </dt>

        <dd>
            @Model.Supplies.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.Supplies / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            RFO Costs
        </dt>

        <dd>
            @Model.RFO.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.RFO / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Participation Total Costs
        </dt>

        <dd>
            @Model.BTotal.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.BTotal / Model.Maxtot) * 100), 2) %
        </dd>

        <dt>
            Direct and Participation Total Costs
        </dt>

        <dd>
            @Model.Maxtot.ToString("C") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Math.Round(((Model.Maxtot / Model.Maxtot) * 100), 2) %
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("Edit", "Edit", new { id = Model.BudgetInvoiceId })
</p>
<br />
<br />
<br />
