@model PagedList.IPagedList<Alliance_for_Life.Models.BudgetCosts>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Second Quarter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Budget Price Analysis Second Quarter</h2>
    <form>
        @using (Html.BeginForm())
        {
            <div class="container">
                <div class="row">
                    <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                        Search By Region: @Html.DropDownList("searchString", new SelectList(new[] { 1, 2, 3, 4, 5, 6, 7, 8, 9 }), "", htmlAttributes: new { @class = "form-control", required = "required", onchange = "this.form.submit()" })
                    </div>
                    <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                        Search By Year: @Html.DropDownList("yearsearch", new SelectList(new[] { 2018, 2019, 2020, 2021, 2022, 2023 }), "", htmlAttributes: new { @class = "form-control", required = "required", onchange = "this.form.submit()", id = "yearsearchString" })
                    </div>
                    <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                        Results Shown per Page: @Html.DropDownList("pgSize", new SelectList(new[] { 10, 20, 30, 40, 50 }), htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                    </div>
                </div>
            </div>

        }
<br />
    </form>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100">
        <thead>
            <tr style="font-size:16px">
                <th class="th-sm">
                    @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSortParm })

                </th>
                <th class="th-sm">
                    @Html.ActionLink("Region", "Index", new { sortOrder = ViewBag.RegionSortParm })

                </th>
                <th class="th-sm">
                    Admininstration Totals

                </th>
                <th class="th-sm">
                    Administration Fee

                </th>
                <th class="th-sm">
                    Participation Total Costs

                </th>
                <th class="th-sm">
                    Admin and Participation Total Costs

                </th>
                <th class="th-sm">

                </th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @item.Year
                    </td>
                    <td>
                        @item.Region
                    </td>
                    <td>
                        @item.ATotCosts.ToString("C")
                    </td>
                    <td>
                        @item.AdminFee.ToString("C")
                    </td>

                    <td>
                        @item.BTotal.ToString("C")
                    </td>
                    <td>
                        @item.Maxtot.ToString("C")
                    </td>
                    <td>
                        <form action="/BudgetCosts/Export" method="post">
                            <button style='font-size:16px; background:none; border:none' value="@item.BudgetInvoiceId" name="BudgetInvoiceId" id="@item.BudgetInvoiceId"><i class='fa fa-file' style="font-size:16px;color:#2ECC71"></i></button>
                            |
                            <a href="@Url.Action("Details", "BudgetCosts", new { id = item.BudgetInvoiceId }, Request.Url.Scheme)">
                                <i style="font-size:16px; color:#3498DB" class="fa">&#xf06e;</i>
                            </a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        @using (Html.BeginForm("Export", "BudgetCosts", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="submit" name="BudgetInvoiceId" id="BudgetInvoiceId" value="Export All to CSV" class="btn btn-group-sm btn-success" />
        }
    </p>

    <p>
    </p>
    <br />

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, @class="pagination" }))
</div>
