@model Alliance_for_Life.Models.ParticipationService

@{
    ViewBag.Title = "Delete Participation Cost Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div>

    <hr />
    <dl >
        <dt class="col-md-2">
            Organization
        </dt>
        <dd>
            @Model.Subcontractor.OrgName
        </dd>
        <dt class="col-md-2">
            Region
        </dt>

        <dd>
            @Model.Region.GetDisplayName()
        </dd>
        <dt class="col-md-2">
            Month
        </dt>
        <dd>
            @Model.Month
        </dd>

        <dt class="col-md-2">
            Year
        </dt>
        <dd>
            @Model.Year
        </dd>

        <dt class="col-md-2">
            Transportation
        </dt>

        <dd>
            @Model.PTranspotation.ToString("C")
        </dd>

        <dt class="col-md-2">
            Job Training / Placement
        </dt>

        <dd>
            @Model.PJobTrain.ToString("C")
        </dd>

        <dt class="col-md-2">
            Eduacation / Tuition Assistance
        </dt>

        <dd>
            @Model.PEducationAssistance.ToString("C")
        </dd>

        <dt class="col-md-2">
            Residental Care
        </dt>

        <dd>
            @Model.PResidentialCare.ToString("C")
        </dd>

        <dt class="col-md-2">
            Utilities
        </dt>

        <dd>
            @Model.PUtilities.ToString("C")
        </dd>

        <dt class="col-md-2">
            Housing/Emergency
        </dt>

        <dd>
            @Model.PHousingEmergency.ToString("C")
        </dd>

        <dt class="col-md-2">
            Housing Assistance
        </dt>

        <dd>
            @Model.PHousingAssistance.ToString("C")
        </dd>

        <dt class="col-md-2">
            Child Care
        </dt>

        <dd>
            @Model.PChildCare.ToString("C")
        </dd>

        <dt class="col-md-2">
            Clothing
        </dt>

        <dd>
            @Model.PClothing.ToString("C")
        </dd>

        <dt class="col-md-2">
            Food
        </dt>

        <dd>
            @Model.PFood.ToString("C")
        </dd>

        <dt class="col-md-2">
            Supplies
        </dt>

        <dd>
            @Model.PSupplies.ToString("C")
        </dd>

        <dt class="col-md-2">
            @Model.POtherInput
        </dt>

        <dd>
            @Model.POther.ToString("C")
        </dd>

        <dt class="col-md-2">
            @Model.POtherInput2
        </dt>

        <dd>
            @Model.POther2.ToString("C")
        </dd>

        <dt class="col-md-2">
            @Model.POtherInput3
        </dt>

        <dd>
            @Model.POther3.ToString("C")
        </dd>

        <dt class="col-md-2">
            Participation Totals
        </dt>

        <dd>
            @Model.PTotals.ToString("C")
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>Are you sure you want to delete this?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
