@model Alliance_for_Life.Models.ParticipationService

@{
    ViewBag.Title = "Edit Participation Cost Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PSId)


    <div class="form-group">
        @Html.LabelFor(model => model.SubcontractorId, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SubcontractorId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SubcontractorId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Region, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Month, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Year, "Year", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Year", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PTranspotation, "Transportation", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PTranspotation, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PTranspotation, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PJobTrain, "Job Training / Placement", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PJobTrain, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PJobTrain, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PEducationAssistance, "Education/Tuition Assistance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PEducationAssistance, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PEducationAssistance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PResidentialCare, "Residential Care", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PResidentialCare, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PResidentialCare, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PUtilities, "Utility Assistance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PUtilities, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PUtilities, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PHousingEmergency, "Housing/Emergency", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PHousingEmergency, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PHousingEmergency, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PHousingAssistance, "Housing Assistance", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PHousingAssistance, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PHousingAssistance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PChildCare, "Child Care", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PChildCare, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PChildCare, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PClothing, "Clothing", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PClothing, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PClothing, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PFood, "Food", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PFood, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PFood, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PSupplies, "Supplies", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PSupplies, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.PSupplies, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.POther, "Other-RFO's", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.POther, new { htmlAttributes = new { @class = "form-control numAdd3" } })
            @Html.ValidationMessageFor(model => model.POther, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PTotals, "Total Participation Services", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PTotals, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PTotals, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-group-sm btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>
<br />
<br />
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
