@model PagedList.IPagedList<Alliance_for_Life.Models.ParticipationService>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Participant Cost Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    @if (!User.IsInRole("Admin"))
    {
        <h2>@ViewBag.Title's for @ViewBag.Subcontractor</h2>
        <form>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Month: @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Year: @Html.DropDownList("Year", null, "Select Year", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Results per Page: @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                    </div>
                </div>
                <br />
            }
        </form>
    }
    else
    {
        <h2>@ViewBag.Title</h2>
        <form>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Organization: @Html.DropDownList("searchString", (IEnumerable<SelectListItem>)ViewBag.Subcontractor, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Month: @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Year: @Html.DropDownList("Year", null, "Select Year", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Results per Page: @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                    </div>
                </div>
                <br />
            }
        </form>
    }

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="font-size:16px" cellspacing="0" width="100">
        <tr>
            @if (!User.IsInRole("Admin"))
            {
                <th>
                    Edit
                </th>
            }
            <th>
                Details
            </th>
            <th>
                @Html.ActionLink("Organization", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                Month
            </th>
            <th>
                Year
            </th>
            <th>
                Region&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th>
                Transportation
            </th>
            <th>
                Job Training / Placement
            </th>
            <th>
                Eduacation/Tuition Assistance
            </th>
            <th>
                Residental Care
            </th>
            <th>
                Utilities
            </th>
            <th>
                Housing/Emergency
            </th>
            <th>
                Housing Assistance
            </th>
            <th>
                Child Care
            </th>
            <th>
                Clothing
            </th>
            <th>
                Food
            </th>
            <th>
                Supplies
            </th>
            <th>
                Other
            </th>
            <th>
                Other
            </th>
            <th>
                Other
            </th>
            <th>
                Participation Totals
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (!User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PSId })
                    </td>
                }

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.PSId })
                </td>
                <td>
                    @item.Subcontractor.OrgName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.Region.GetDisplayName()
                </td>
                <td>
                    @item.PTranspotation.ToString("C")
                </td>
                <td>
                    @item.PJobTrain.ToString("C")
                </td>
                <td>
                    @item.PEducationAssistance.ToString("C")
                </td>
                <td>
                    @item.PResidentialCare.ToString("C")
                </td>
                <td>
                    @item.PUtilities.ToString("C")
                </td>
                <td>
                    @item.PHousingEmergency.ToString("C")
                </td>
                <td>
                    @item.PHousingAssistance.ToString("C")
                </td>
                <td>
                    @item.PChildCare.ToString("C")
                </td>
                <td>
                    @item.PClothing.ToString("C")
                </td>
                <td>
                    @item.PFood.ToString("C")
                </td>
                <td>
                    @item.PSupplies.ToString("C")
                </td>
                <td>
                    @item.POther.ToString("C")
                </td>
                <td>
                    @item.POther2.ToString("C")
                </td>
                <td>
                    @item.POther3.ToString("C")
                </td>
                <td>
                    @item.PTotals.ToString("C")
                </td>
            </tr>
        }
    </table>

    <h3>Total Participation Cost</h3>
    <p>
        @Model.Sum(m => m.PTotals).ToString("c")
    </p>
    <br /><br />
    @using (Html.BeginForm("Export", "ParticipationService", FormMethod.Post))
    {
        <input type="submit" value="Export to Excel" class="btn btn-group-sm btn-primary" />
    }
    <div class="container-fluid">
        <form>
            @using (Html.BeginForm())
            {
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("Index",
                                new { page, pgSize = ViewBag.psize, @class = "pagination"}))    
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>