@model PagedList.IPagedList<Alliance_for_Life.Models.ParticipationService>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Total Cost Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">

    @if (!User.IsInRole("Admin"))
    {
        <h2>@ViewBag.Title's for @ViewBag.Subcontractor</h2>
        <br />
    }
    else
    {
        <h2>@ViewBag.Title</h2>
        <form>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Organization: @Html.DropDownList("searchString", (IEnumerable<SelectListItem>)ViewBag.Subcontractor, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Year: @Html.DropDownList("Year", null, "Select Year", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Search By Month: @Html.DropDownList("Month", null, "Select Month", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                        <div class="col-xs-5th-1 col-sm-3" style="align-content:center;">
                            Results per Page: @Html.DropDownList("pgSize", (IEnumerable<SelectListItem>)ViewBag.PageSize, "", htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })
                        </div>
                    </div>
                </div>
            }
        </form>
    }
    <h3>Administration Costs</h3>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="font-size:16px" cellspacing="0" width="100">
        <tr>
            @if (!User.IsInRole("Admin"))
            {
                <th style="background-color:#C1F7C1; color:black;">
                    Edit
                </th>
            }
            <th style="background-color:#C1F7C1; color:black;">
                Details
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                @Html.ActionLink("Organization", "TotalCostReport", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Month
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Year
            </th>
            @if (!User.IsInRole("User"))
            {
                <th style="background-color:#C1F7C1; color:black;">
                    Region&nbsp;&nbsp;&nbsp;&nbsp;
                </th>
            }

            <th style="background-color:#C1F7C1; color:black;">
                Salaries and Wages
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Employee Benefits
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Employee Travel
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Employee Training
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Office Rent
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Office Utilities
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Facility Insurance
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Office Supplies
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Equipment
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Office Communications
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Office Maintenance
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Consulting Fee's
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Janitor Services
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Depreciation
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Tech Support
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Security
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Other
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Other
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Other
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Total Cost
            </th>
        </tr>

        @foreach (var item in ViewBag.AdminCost)
        {
            <tr>
                @if (!User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "AdministrationCost", new { id = item.AdminCostId })
                    </td>
                }

                <td>
                    @Html.ActionLink("Details", "Details","AdministrationCost", new { id = item.AdminCostId },null)
                </td>
                <td>
                    @item.Subcontractor.OrgName
                </td>
                <td>
                    @item.Month
                </td>
                <td>
                    @item.Year
                </td>
                @if (!User.IsInRole("User"))
                {
                    <td>
                        @if (item.Region == Alliance_for_Life.Models.GeoRegion.Region1)
                        {

                            @Html.Encode("Region 1");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region2)
                        {

                            @Html.Encode("Region 2");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region3)
                        {

                            @Html.Encode("Region 3");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region4)
                        {

                            @Html.Encode("Region 4");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region5)
                        {

                            @Html.Encode("Region 5");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region6)
                        {

                            @Html.Encode("Region 6");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region7)
                        {

                            @Html.Encode("Region 7");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region8)
                        {

                            @Html.Encode("Region 8");
                        }
                        else if (item.Region == Alliance_for_Life.Models.GeoRegion.Region9)
                        {

                            @Html.Encode("Region 9");
                        }

                    </td>
                }
                <td>
                    @item.ASalandWages.ToString("C")
                </td>
                <td>
                    @item.AEmpBenefits.ToString("C")
                </td>
                <td>
                    @item.AEmpTravel.ToString("C")
                </td>
                <td>
                    @item.AEmpTraining.ToString("C")
                </td>
                <td>
                    @item.AOfficeRent.ToString("C")
                </td>
                <td>
                    @item.AOfficeUtilities.ToString("C")
                </td>
                <td>
                    @item.AFacilityIns.ToString("C")
                </td>
                <td>
                    @item.AOfficeSupplies.ToString("C")
                </td>
                <td>
                    @item.AEquipment.ToString("C")
                </td>
                <td>
                    @item.AOfficeCommunications.ToString("C")
                </td>
                <td>
                    @item.AOfficeMaint.ToString("C")
                </td>
                <td>
                    @item.AConsulting.ToString("C")
                </td>
                <td>
                    @item.AJanitorServices.ToString("C")
                </td>
                <td>
                    @item.ADepreciation.ToString("C")
                </td>
                <td>
                    @item.ATechSupport.ToString("C")
                </td>
                <td>
                    @item.ASecurityServices.ToString("C")
                </td>
                <td>
                    @item.AOther.ToString("C")
                </td>
                <td>
                    @item.AOther2.ToString("C")
                </td>
                <td>
                    @item.AOther3.ToString("C")
                </td>
                <td>
                    @item.ATotCosts.ToString("C")
                </td>
            </tr>
        }

        <tr>

            <td style="background-color:#AACAFC; color:black;"> Total:</td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.SalTot.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AEmpBenefits.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AEmpTravel.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AEmpTraining.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOfficeRent.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOfficeUtilities.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AFacilityIns.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOfficeSupplies.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AEquipment.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOfficeCommunications.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOfficeMaint.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AConsulting.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AJanitorServices.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.ADepreciation.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.ATechSupport.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.ASecurityServices.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOther.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOther2.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.AOther3.ToString("C")
            </td>
            <td style="background-color:#AACAFC; color:black;">
                @ViewBag.Total.ToString("c")
            </td>
        </tr>
    </table>



    <h3>Participation Costs</h3>
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" style="font-size:16px" cellspacing="0" width="100">
        <tr>
            @if (!User.IsInRole("Admin"))
            {
                <th style="background-color:#C1F7C1; color:black;">
                    Edit
                </th>
            }
            <th style="background-color:#C1F7C1; color:black;">
                Details
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                @Html.ActionLink("Organization", "TotalCostReport", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Month
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Year
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Region&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Transportation
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Job Training / Placement
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Eduacation/Tuition Assistance
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Residental Care
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Utilities
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Housing/Emergency
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Housing Assistance
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Child Care
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Clothing
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Food
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Supplies
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Other
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Other
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Other
            </th>
            <th style="background-color:#C1F7C1; color:black;">
                Participation Totals
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @if (!User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", "ParticipationService", new { id = item.PSId })
                    </td>
                }

                <td>
                    @Html.ActionLink("Details", "Details","ParticipationService", new { id = item.PSId },null)
                </td>
                <td>
                    @item.Subcontractor.OrgName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)
                </td>
                <td>
                    @item.Year
                </td>
                <td>
                    @item.Region.GetDisplayName()
                </td>
                <td>
                    @item.PTranspotation.ToString("C")
                </td>
                <td>
                    @item.PJobTrain.ToString("C")
                </td>
                <td>
                    @item.PEducationAssistance.ToString("C")
                </td>
                <td>
                    @item.PResidentialCare.ToString("C")
                </td>
                <td>
                    @item.PUtilities.ToString("C")
                </td>
                <td>
                    @item.PHousingEmergency.ToString("C")
                </td>
                <td>
                    @item.PHousingAssistance.ToString("C")
                </td>
                <td>
                    @item.PChildCare.ToString("C")
                </td>
                <td>
                    @item.PClothing.ToString("C")
                </td>
                <td>
                    @item.PFood.ToString("C")
                </td>
                <td>
                    @item.PSupplies.ToString("C")
                </td>
                <td>
                    @item.POther.ToString("C")
                </td>
                <td>
                    @item.POther2.ToString("C")
                </td>
                <td>
                    @item.POther3.ToString("C")
                </td>
                <td>
                    @item.PTotals.ToString("C")
                </td>
            </tr>
        }
        <tr>

            <td style="background-color:#AACAFC; color:black;"> Total:</td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> </td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PTranspotation).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PJobTrain).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PEducationAssistance).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PResidentialCare).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PUtilities).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PHousingEmergency).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PHousingAssistance).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PChildCare).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PClothing).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PFood).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PSupplies).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.POther).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.POther2).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.POther3).ToString("c")</td>
            <td style="background-color:#AACAFC; color:black;"> @Model.Sum(a => a.PTotals).ToString("c")</td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="background-color:lightgreen; color:black;font-size:20px;">Grand Total:</td>
            <td style="background-color:lightgreen; color:black; font-size:20px;">
                <b>
                    @Math.Round(ViewBag.Total + Model.Sum(a => a.PTotals), 2).ToString("C")
                </b>
            </td>
        </tr>
    </table>
    <br />

    @using (Html.BeginForm("ExportAdminParticost", "ParticipationService", FormMethod.Post))
    {
        <input type="submit" value="Export Total Cost" class="btn btn-group-sm btn-primary" />

    }

    <div class="container-fluid">
        <form>
            @using (Html.BeginForm())
            {
                <br />
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-2">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                            @Html.PagedListPager(Model, page => Url.Action("TotalCostReport",
                                new { searchString = ViewBag.Sub, Year = ViewBag.Yr,Month= ViewBag.Mnth,page,pgSize = ViewBag.psize }))
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
</div>

