@model Alliance_for_Life.Models.Surveys

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Surveys</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Months.Months)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Months.Months)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subcontractors.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subcontractors.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SurveysCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveysCompleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
