@model IEnumerable<Alliance_for_Life.Models.Surveys>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Returned Surveys</h2>

<p>
    @Html.ActionLink("Add Returned Surveys", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Months.Months)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subcontractors.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveysCompleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Months.Months
            </td>
            <td>
                @item.Subcontractors.OrgName
            </td>
            <td>
                @item.SurveysCompleted
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SurveyId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SurveyId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SurveyId })
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("Export", "Surveys", FormMethod.Post))
{
    <input type="submit" value="Export to Excel" class="btn btn-group-sm btn-primary" />
}
