@model IEnumerable<Alliance_for_Life.Models.Surveys>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Returned Surveys</h2>

<p>
    @Html.ActionLink("Add Returned Surveys", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Months.Months)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgName.OrgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveysCompleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Months.Months)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgName.OrgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurveysCompleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurveyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurveyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurveyId })
        </td>
    </tr>
}
    <tr>
        <td colspan="12">
            <br />
            <a href="@Url.Action("Index", "SurveyReport")">Export to Excel</a>
        </td>
    </tr>
</table>
